### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [72]:
# Dependencies and Setup
import pandas as pd
import numpy as np


# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",4
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,2
2,2,Ithergue48,24,Male,92,Final Critic,5
3,3,Chamassasya86,24,Male,100,Blindscythe,3
4,4,Iskosia90,23,Male,131,Fury,1

In [73]:
player_count = len(purchase_data_df["SN"].unique())
player_count

576

In [74]:
unique_items = len(purchase_data_df["Item ID"].unique())
unique_items

183

In [75]:
#purchase_data_df = pd.read_csv(purchase_data)
average_purchase_price = purchase_data_df["Price"].mean()
average_purchase_price

3.050987179487176

In [76]:
total_number_purchases = len(purchase_data_df["Purchase ID"])
total_number_purchases

780

In [77]:
total_revenue= purchase_data_df["Price"].sum()
total_revenue

2379.77

In [78]:
summary_table = pd.DataFrame({"Number of Unique Items": unique_items,
                             "Average Purchase Price": average_purchase_price,
                             "Total Number of Purchases": total_number_purchases,
                             "Total Revenue": total_revenue} , index=[0])
summary_table["Average Purchase Price"] = summary_table["Average Purchase Price"].map("${:,.2f}".format)
summary_table

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$3.05,780,"2,380"

In [79]:
purchase_count = purchase_data_df["Gender"].value_counts()
purchase_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [80]:
purchase_price_gender = purchase_data_df.groupby(["Gender"]).sum()["Price"]
purchase_price_gender

Gender
Female                    362
Male                    1,968
Other / Non-Disclosed      50
Name: Price, dtype: float64

In [81]:
avg_price_gender = purchase_data_df.groupby(["Gender"]).mean()["Price"]
pd.options.display.float_format = '${:,.2f}'.format
avg_price_gender

Gender
Female                  $3.20
Male                    $3.02
Other / Non-Disclosed   $3.35
Name: Price, dtype: float64

In [82]:
total_purchase_value = purchase_data_df["Price"].sum()
pd.options.display.float_format = '${:,.2f}'.format
total_purchase_value

2379.77

In [83]:
total_purchase_count = purchase_data_df.groupby(["Gender"]).count()["Price"]
total_purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [84]:
summary_table_gender = pd.DataFrame({"Purchase Count" : total_purchase_count,
                                    "Average Purchase Price": avg_price_gender,
                                    "Total Purchase Value": purchase_price_gender})

summary_table_gender.head()

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,$3.20,$361.94
Male,652,$3.02,"$1,967.64"
Other / Non-Disclosed,15,$3.35,$50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [85]:
age_groups = [0,10, 14, 19, 24, 29, 34, 39, 100]
group_names = ["<10", "10-14", "15-19","20-24", "25-29", "30-34", "35-39","40+"]

In [86]:
purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], age_groups, labels=group_names)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,$4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,$1.44,20-24

In [87]:
total_count = purchase_data_df["Age Range"].value_counts()
total_count

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
<10       32
10-14     19
40+       13
Name: Age Range, dtype: int64

In [97]:
percentage_of_players = total_count / player_count *100 
pd.options.display.float_format = '{:,.0f}'.format
percentage_of_players

20-24   63
15-19   24
25-29   18
30-34   13
35-39    7
<10      6
10-14    3
40+      2
Name: Age Range, dtype: float64

In [98]:
summary_table_age = pd.DataFrame({"Total Count" : total_count,
                                    "Percentage of Players": percentage_of_players})
summary_table_age

       Total Count  Percentage of Players
20-24          365                     63
15-19          136                     24
25-29          101                     18
30-34           73                     13
35-39           41                      7
<10             32                      6
10-14           19                      3
40+             13                      2

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [173]:
purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], age_groups, labels=group_names)
#pd.options.display.float_format = '${:,.2f}'.format

purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,$4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,$1.44,20-24

In [185]:
purchase_total_age = purchase_data_df.groupby(["Age"]).sum()["Price"]
purchase_total_age.head

<bound method NDFrame.head of Age
7     $32.89
8     $25.97
9     $18.27
10    $31.83
11    $18.79
12    $15.80
13     $9.45
14     $6.91
15   $105.65
16    $90.56
17    $64.48
18    $82.22
19    $69.98
20   $314.32
21   $180.74
22   $206.85
23   $201.93
24   $210.22
25   $181.90
26    $40.19
27    $27.23
28     $8.45
29    $35.23
30   $110.32
31    $24.05
32    $22.69
33    $34.81
34    $22.13
35    $52.03
36    $12.66
37    $25.51
38    $34.15
39    $23.32
40    $16.71
41     $6.54
42     $3.93
43     $4.00
44     $5.36
45     $1.70
Name: Price, dtype: float64>

In [186]:
avg_purch_price_age = purchase_data_df.groupby(["Age"]).sum()["Price"].mean()

avg_purch_price_age

61.01974358974361

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame